<nav class="navbar navbar-dark sticky-top custom-bg-light-green">
    <div class="current-time">
        <div class="time" style="font-size: 42px; color: white;">{{ currentTime | date: 'HH:mm:ss' }}</div>
        <div class="date" style="margin-left: 1.5em;">{{ currentTime | date: 'dd.MM.yyyy' }}</div>
    </div>
    <img src="assets/medical-planning.png" class="custom-logo">
    <div class="form-class" *ngIf="getUserRole() == userRoleEnum.User.toString()">
        <form [formGroup]="searchForm" class="form-inline ">
            <div class="form-group mr-sm-2">
                <select class="form-control inputs" id="miastoSelect" [disabled]="!isLogged" formControlName="city">
                    <option value="" disabled selected>Wybierz miasto</option>
                    <option value="Warszawa">Warszawa</option>
                    <option value="Kraków">Kraków</option>
                    <option value="Wrocław">Wrocław</option>
                    <option value="Poznań">Poznań</option>
                    <option value="Gdańsk">Gdańsk</option>
                    <option value="Łódź">Łódź</option>
                    <option value="Szczecin">Szczecin</option>
                    <option value="Bydgoszcz">Bydgoszcz</option>
                    <option value="Katowice">Katowice</option>
                    <option value="Białystok">Białystok</option>
                </select>
                <select class="form-control inputs" id="specjalizacjeSelect" [disabled]="!isLogged"
                    formControlName="specialization">
                    <option value="" disabled selected>Wybierz specjalizację</option>
                    <option value="Medycyna ogólna">Medycyna ogólna</option>
                    <option value="Kardiolog">Kardiologia</option>
                    <option value="Chirurg">Chirurgia</option>
                    <option value="Ginekolog">Ginekologia</option>
                    <option value="Pediatr">Pediatria</option>
                    <option value="Ortoped">Ortopedia</option>
                    <option value="Dermatolog">Dermatologia</option>
                    <option value="Neurolog">Neurologia</option>
                    <option value="Onkolog">Onkologia</option>
                    <option value="Endokrynolog">Endokrynologia</option>
                </select>
            </div>
            <div class="radio-options">
                <div class="form-check mr-sm-2">
                    <input class="form-check-input" type="checkbox" name="sortBy" id="privateRadio" value="price"
                        [disabled]="!isLogged" formControlName="sortBy">
                    <label class="form-check-label" for="nfzRadio">
                        NFZ
                    </label>
                </div>
                <button *ngIf="isLogged" type="submit" class="btn submit-btn" (click)="onSearchClick()">Szukaj</button>

            </div>
        </form>
    </div>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap align-items-center">
            <div *ngIf="isLogged" class="login-container">
                <button type="submit" class="btn custom-button" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon> Wyloguj
                </button>
            </div>
            <div class="login-container">
                <div *ngIf="!isLogged">
                    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                        <input class="form-control inputs" placeholder="Email" id="email" formControlName="email"
                            [ngClass]="{'has-error': checkLoginValidator('email')}">
                        <input class="form-control inputs" placeholder="Hasło" id="password" formControlName="password"
                            type="password" [ngClass]="{'has-error': checkLoginValidator('password')}">
                        <div class="button-container">
                            <button type="submit" class="btn custom-button">
                                Zaloguj
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</nav>