<nav class="navbar navbar-dark sticky-top custom-bg-light-green flex-md-nowrap p-0">
    <p>kalendarz wizyt</p>
    <img src="assets/medical-planning.png" class="custom-logo">
    <div class="form-class">
        <form class="form-inline ">
            <div class="form-group mr-sm-2">
                <select class="form-control inputs" id="miastoSelect">
                    <option value="" disabled selected>Wybierz miasto</option>
                    <option value="Miasto1">Miasto 1</option>
                    <option value="Miasto2">Miasto 2</option>
                    <option value="Miasto3">Miasto 3</option>
                </select>
                <select class="form-control inputs" id="miastoSelect">
                    <option value="" disabled selected>Wybierz specjalizacje</option>
                    <option value="Miasto1">Miasto 1</option>
                    <option value="Miasto2">Miasto 2</option>
                    <option value="Miasto3">Miasto 3</option>
                </select>
            </div>
            <div class="radio-options">
                <div class="form-check mr-sm-2">
                    <input class="form-check-input" type="radio" name="nfzPrivate" id="nfzRadio" value="nfz">
                    <label class="form-check-label" for="nfzRadio">
                        NFZ
                    </label>
                </div>
                <div class="form-check mr-sm-2">
                    <input class="form-check-input" type="radio" name="nfzPrivate" id="privateRadio" value="private">
                    <label class="form-check-label" for="privateRadio">
                        Prywatnie
                    </label>
                </div>
            </div>
        </form>
        <button type="submit" class="btn submit-btn">Szukaj</button>
    </div>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap align-items-center">
            <div *ngIf="isLogged" class="login-container">
                <button type="submit" class="btn custom-button" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon> Wyloguj
                </button>
            </div>
            <div class="login-container">
                <div *ngIf="!isLogged">
                    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                        <input class="form-control inputs" placeholder="Email" id="email" formControlName="email"
                            [ngClass]="{'has-error': checkLoginValidator('email')}">
                        <input class="form-control inputs" placeholder="Hasło" id="password" formControlName="password"
                            type="password" [ngClass]="{'has-error': checkLoginValidator('password')}">
                        <div class="button-container">
                            <button type="submit" class="btn custom-button">
                                Zaloguj
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</nav>