<div class="login-dialog-container">
    <h2>Logowanie</h2>
    <div>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="margin-top: 5em">
            <mat-form-field>
                <input class="mat-input-element" matInput formControlName="username" placeholder="Nazwa użytkownika"
                    required>
            </mat-form-field>
            <mat-form-field>
                <input class="mat-input-element" matInput formControlName="password" type="password" placeholder="Hasło"
                    required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Zaloguj</button>
        </form>
    </div>
</div>