<div class="table-wrapper">
    <h1 class="page-header">Nadchodzące wizyty</h1>
    <hr />
    <div class="filter-container">
        <div class="filter-inputs">
            <input class="custom-input" [(ngModel)]="firstNameFilter" placeholder="Imię">
            <input class="custom-input" [(ngModel)]="lastNameFilter" placeholder="Nazwisko">
            <input class="custom-input" [(ngModel)]="address" placeholder="Adres Przychodni">
            <input class="custom-input" [(ngModel)]="specialization" placeholder="Specjalizacja">
            <input class="custom-input" [(ngModel)]="clinicName" placeholder="Nazwa Przychodni">
        </div>
        <div class="sort-container">
            <select id="sortSelect" [(ngModel)]="sortOption">
                <option value="date">Data</option>
                <option value="price">Cena</option>
            </select>
        </div>
        <button class="search-button" (click)="getVisitAppointments()">
            <i class="material-icons">search</i>
        </button>
    </div>
    <div class="pagination">
        <div class="button-container">
            <button class="custom-button" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button class="custom-button" (click)="onPageChange(currentPage + 1)">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Imie i Nazwisko Lekarza</th>
                <th class="if-display">Specjalizacja</th>
                <th class="if-display">Adres Przychodni</th>
                <th class="if-display">Nazwa Przychodni</th>
                <th class="if-display">Koszt</th>
                <th class="if-display">Najbliższy wolny termin</th>
                <th style="width: 100px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let visit of (appointmentVisits$ | async)">
                <td>{{ visit.doctorFirstName }} {{visit.doctorLastName}}</td>
                <td class="if-display">{{visit.specialization}}</td>
                <td class="if-display">{{visit.clinicAddress}}</td>
                <td class="if-display">{{visit.clinicName}}</td>
                <td class="if-display" *ngIf="visit.fee != 0">{{visit.fee}}</td>
                <td class="if-display" *ngIf="visit.fee == 0">Świadczenie NFZ</td>
                <td class="if-display">{{formatDateTime(visit.closestDate)}}</td>
                <td>
                    <button class="add-visit" mat-icon-button
                        (click)="routeToCreateVisitComponent(visit.doctorId, visit.clinicId)">
                        <mat-icon>add</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>