<div class="table-wrapper">
    <h1 class="page-header">Przychodnie</h1>
    <hr />
    <div class="button-container">
        <button type="submit" class="btn custom-button" (click)="openAddClinic()">
            Dodaj klinikę
        </button>
    </div>
    <div class="filter-container">
        <div class="filter-inputs">
            <input class="custom-input" [(ngModel)]="name" placeholder="Nazwa">
            <input class="custom-input" [(ngModel)]="address" placeholder="Adres">
        </div>
        <button class="search-button" (click)="loadClinics()">
            <i class="material-icons">search</i>
        </button>
    </div>
    <div class="pagination">
        <div class="button-container">
            <button class="custom-button" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button class="custom-button" (click)="onPageChange(currentPage + 1)">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nazwa</th>
                <th class="if-display">Adres</th>
                <th style="width: 100px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let clinic of clinics$ | async">
                <td>{{ clinic.name }}</td>
                <td class="if-display">{{ clinic.address }}</td>
                <td>
                    <button style="background-color: transparent; border: none; color: red;" mat-icon-button
                        (click)="deleteClinic(clinic)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button style="background-color: transparent; border: none; color: blue;" mat-icon-button
                        (click)="showDetails(clinic)">
                        <mat-icon>info</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>